@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center div-style-002 div-margin-001">
    <h1 class="display-6">Coevaluacion 4</h1>
    <p>Ram&iacute;rez Salda&#241;a Paris</p>
    <img src="images/camping.png" alt="Tienda de campaña" class="medium-image-001" />
</div>
