@using System.Text
@model List<ProductoViewModel>
@{
  ViewData["Title"] = "Lista de productos";
}

<div class="text-center div-style-004 div-margin-001 div-padding-001">
  <h2 class="title-001">P&aacute;gina 1 - Cat&aacute;logo</h2>
  <a asp-action="StoreAdd" class="a">
    <div class="neon-button-red rigth div-margin-001">Agregar</div>
  </a>
  <div class="seccion-tabla">
    <table class="center tabla-productos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Borrar</th>
        </tr>
      </thead>
      <tbody>
        @foreach (ProductoViewModel producto in Model)
        {
          <tr>
            <td>@producto.Id</td>
            <td>@producto.Nombre</td>
            <td>@producto.Precio</td>
            <td><a asp-action="StoreSummary" asp-route-idToRemove="@producto.Id" /> X </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tfoot>
    </table>
  </div>
  @{
    StringBuilder resultados = new StringBuilder();
    resultados.Append(ViewData.Eval("PostAdding"));
    string[] print = resultados.ToString().Split("!SLN!");
    @foreach (string linea in print)
    {
      <p>@linea&nbsp</p>
    }
  }
</div>
